<suite name="Suite1">
    <test name="test1">
        <parameter name="BROWSER" value="chrome"/>
        <classes>
            <class name="Tests.SignIn"/>
            <!--<class name = "Tests.SignOut" />-->
        </classes>
    </test>
    <test name="test2">
        <parameter name="BROWSER" value="edge"/>
        <classes>
            <class name="Tests.SignIn"/>
            <!--  <class name = "Tests.SignOut" /> -->
        </classes>
    </test>
    <test name="test3">
        <parameter name="BROWSER" value="firefox"/>
        <classes>
            <class name="Tests.SignIn"/>
            <!--  <class name = "Tests.SignOut" /> -->
        </classes>
    </test>
</suite>